<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="header">
    <h1>Chapter08 色彩、字型、文字與清單</h1>
    <nav class="menu">
      <ul>
        <li><a href="color.html">色彩屬性</a></li>
        <li><a href="font.html">字型屬性</a></li>
        <li><a href="wordAttr.html">文字屬性</a></li>
        <li><a href="list.html">清單屬性</a></li>
      </ul>
    </nav>
  </div>
  <%- contents %>

    <script src="./assets/js/all.js"></script>
</body>

</html>