.header {
    @include FLEX-AIC-JCSB;
    border: 1px solid #000;
    padding: 20px;
    font-weight: bold;

    h1 {
        font-size: $font-size-50;
    }

    .menu {
        width: 40%;
        font-size: $font-size-30;

        ul {
            @include FLEX-AIC-JCSB;
        }
    }
}