@mixin FLEX-AIC-JCSB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin FLEX-AIC-JCS {
    display: flex;
    justify-content: start;
    align-items: center;
}