.wordAttribute {
    .WordAttr {
        border: 1px solid #000;
        padding: 20px;
        @include FLEX-AIC-JCSB;

        .inputAndTitle {
            font-size: $font-size-30;

            .H2AndRadio {
                @include FLEX-AIC-JCS;

                .radio {
                    font-size: $font-size-20;
                    margin-left: 20px;
                }
            }

            .input {

                @include FLEX-AIC-JCS;
            }
        }

        .example {
            @include FLEX-AIC-JCSB;
            font-size: $font-size-20;
            font-weight: bold;
            width: 30%;

            .exampleWord {
                font-size: $font-size-30;
                border: 1px solid #000;
                width: 300px;
                // white-space: nowrap;
            }
        }
    }
}